:root {
    --colorPrimary-1: #3a3a3a;
    --colorPrimary-2: #a76682;
    --colorPrimary-3: #48869c;
    --colorPrimary-4: #f3706d;
    --colorPrimary-5: #ef4b23;
    --colorPrimary-6: #fcd66e;
    --colorPrimary-7: #418376;
    --colorPrimary-8: #7c4343;
    --colorPrimary-9: #44498f;
    --colorPrimary-10: #2e3034;
    --colorPrimary-11: #614556;
    --colorPrimary-12: #355665;
    --colorPrimary-13: #8c4b4e;
    --colorPrimary-14: #8f3b28;
    --colorPrimary-15: #9a9651;
    --colorPrimary-16: #315250;
    --colorPrimary-17: #523639;
    --colorPrimary-18: #353a62;
    --colorPrimary-19: #fcd66e;
    --colorPrimary-20: #000000;
    --colorPrimary-21: #3a3a3a;
    --colorPrimary-22: #ffffff;
    --colorPrimary-23: #7c4343;



}